<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CAEX -->
      <package
            uri="http://caex"
            class="CAEX.CAEXPackage"
            genModel="model/CAEX.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CAEX -->
      <parser
            type="caex"
            class="CAEX.util.CAEXResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CAEX -->
      <package
            uri="http://genAnyType"
            class="GenericAnyType.GenericAnyTypePackage"
            genModel="model/CAEX.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Validation -->
      <package
            uri="http://ValidationModel"
            class="ValidationModel.ValidationModelPackage"
            genModel="model/Validation.genmodel"/>
   </extension>

</plugin>
